@model TaskManager.Models.DTO.AuthModel

@{
    ViewData["Title"] = "Вход в систему";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Авторизация</title>
    <link href="~/css/login.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
<div id="content">
    <div class="auth-container">
        <div class="auth-card">
            <div class="icon">
                <i class="fas fa-user-circle"></i>
            </div>
            <div class="auth-tabs">
                <button type="button" class="auth-tab active" data-tab="login">Вход</button>
                <button type="button" class="auth-tab" data-tab="register">Регистрация</button>
                <div class="active-indicator"></div>
            </div>
                <form asp-controller="Account" asp-action="SignIn" method="post" class="auth-form active">
                <div asp-validation-summary="All" class="auth-errors"></div>
                <div class="form-group">
                    <label asp-for="SignInUser.Email">Email</label>
                    <input asp-for="SignInUser.Email" class="modal-input"/>
                        <span asp-validation-for="SignInUser.Email" class="validation-message"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SignInUser.Password">Пароль</label>
                    <input asp-for="SignInUser.Password" class="modal-input"/>
                    <span asp-validation-for="SignInUser.Password" class="validation-password"></span>
                </div>
                <button type="submit" class="app-button auth-button">Войти</button>
            </form>
                <form asp-controller="Account"  asp-action="Register" method="post" class="auth-form">
                <div asp-validation-summary="All" class="auth-errors"></div>
                <div class="form-step active" data-step="1">
                    <div class="form-group">
                        <label asp-for="RegisterUser.Email">Email</label>
                        <input asp-for="RegisterUser.Email" class="modal-input"/>
                        <span asp-validation-for="RegisterUser.Email" class="validation-message"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegisterUser.Password">Пароль</label>
                        <input asp-for="RegisterUser.Password" class="modal-input" />
                            <span asp-validation-for="RegisterUser.Password" class="validation-password"></span>
                    </div>
                    <button type="button" class="app-button auth-button next-step">Далее</button>
                </div>
                <div class="form-step" data-step="2">
                    <div class="form-group">
                        <label asp-for="RegisterUser.UserName">Никнейм</label>
                        <input asp-for="RegisterUser.UserName" class="modal-input"/>
                        <span asp-validation-for="RegisterUser.UserName" class="text-danger"></span>
                    </div>
                    <div class="step-buttons">
                        <button type="button" class="app-button auth-button prev-step">Назад</button>
                        <button type="submit" class="app-button btn-submit auth-button">Зарегистрироваться</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="~/js/login.js" asp-append-version="true"></script>
</div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
